body{
    background-color: rgba(168, 207, 123, 0.5);
    color: black ;
}
.familiar{
    flex: 1 150px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: rgba(168, 207, 123, 0.5);
    color: black ;
}
footer{
    background-color: aquamarine;   
}
nav{
    margin-bottom: 10px;
}
.titulo{
    margin-top: 60px;
    background-color: yellowgreen;
}
.collapse{
    color: teal;
}
.nav-pills{
    margin-right: 20px;
}